--extra-index-url https://download.pytorch.org/whl/cu113
blis==0.7.9
catalogue==2.0.8
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==1.6.0
confection==0.0.3
cymem==2.0.7
distro==1.8.0
graphviz==0.20.1
gym==0.18.3
gym-notices==0.0.8
idna==3.4
importlib-metadata==5.0.0
Jinja2==3.1.2
joblib==1.2.0
langcodes==3.3.0
MarkupSafe==2.1.1
murmurhash==1.0.9
nltk==3.7
numpy==1.23.4
packaging==21.3
pathy==0.6.2
Pillow==8.2.0
preshed==3.0.8
pydantic==1.10.2
pyglet==1.5.15
pyparsing==3.0.9
regex==2022.9.13
requests==2.28.1
scikit-build==0.11.1
scipy==1.9.3
smart-open==5.2.1
spacy==3.4.2
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.5
thinc==8.1.5
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tqdm==4.64.1
typer==0.4.2
typing-extensions==4.4.0
urllib3==1.26.12
wasabi==0.10.1
zipp==3.10.0
